div {padding: 10px;}

.title {
    background-color: burlywood;
}

.travian_test {
    background-color: rgb(167, 222, 135);
}

.white_space {
    height: 100px;
    width: 200px;
}


table, td, th {
    padding: 20px;
    border: 1px black solid;
    border-collapse: collapse;
}

td, th {
    max-width: 15%;
    width: 15%;
}

.server_test {
    background-color: cadetblue;
}